* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color variables */
  --accent-color: #eaf2f5;
  --primary-text-color: #141414;
  --secondary-text-color: #007676;
  --light-text-color: #fff;
  --primary-color: #fff;
  --secondary-color: #007676;
  --alpha-secondary-color: rgba(0, 118, 118, 0.2);
  --discount-color: #e71a1c;
  --card-hover-bg-color: #f9f9f9;
  --border-color: #f9f9f9;
  --box-shadow-color: var(--accent-color);
  --shadow: rgba(0, 0, 0, 0.05);
  --box-shadow: rgba(0, 0, 0, 0.25);
  --discount-banner-background-overlay: linear-gradient(
    rgba(0, 118, 118, 0.8),
    rgba(0, 118, 118, 0.8)
  );
  --phone-app-shadow: #c7e1eb;
  --alpha-primary-color: rgba(255, 255, 255, 0.5);
  --rating-color: #ffa800;

  /* transition curves */
  --transition-curve: cubic-bezier(0.36, -0.21, 0.16, 1.97);
}
html {
  font-size: 16px;
}
body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
h4 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: 1px solid var(--secondary-text-color);
  transition: 0.8s;
  border-radius: 0.4rem;
  padding: 1.3rem 2.8rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

.container {
  padding: 0 10vw;
}

/* Navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: var(--accent-color);
}
.nav {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar img {
  height: 1.5rem;
  cursor: pointer;
}

.nav__link {
  color: var(--primary-text-color);
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}
.nav__link:hover {
  color: var(--secondary-color);
}
.navbar__toggle {
  position: relative;
}
.toggle__cart {
  width: 2.6rem;
  height: 2.6rem;
  font-size: 1.1rem;
  color: #007676;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 100%;
}
.toggle__cart:hover {
  background: var(--alpha-secondary-color);
}
.toggle__cart-count {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.1rem;
  right: 0.3rem;
  background: #d97d52;
  border-radius: 50%;
  color: var(--accent-color);
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

/* Hero */
.hero__container {
  background-color: var(--accent-color);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content {
  width: 40%;
}
.hero__title {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 900;
  color: var(--secondary-color);
}
.hero__text {
  line-height: 2rem;
  font-size: 1rem;
  opacity: 0.75;
  margin: 3rem 0;
}
.hero__image {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.hero__image img {
  width: 83%;
}

.hero__review {
  position: absolute;
  width: 55%;
  bottom: 8%;
  left: 14%;
  color: #383838;
  font-size: 1rem;
  background-color: var(--alpha-primary-color);
  padding: 1.5rem 1rem ;
}

.review__header {
  display: flex;
  gap: 1.1rem;
  margin-bottom: 1.1rem;
}

.review__rating {
  color: var(--rating-color);
  font-size: 0.4rem;
  margin-bottom: 0.4rem;
}
.review__rating-number {
  color: #383838;
}
.review__footer {
  display: flex;
  gap: 1.5rem;
}
